@font-face {
  font-family: regular;
  src: url(/frontend/public/Lato-Bold.ttf);
}
.container{
 position: relative;
  width: 100vw;
  color: black;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(15, 15, 15);
  z-index: 999;
  background: rgba(28, 26, 26, 0.223);
}
.main{
  position: relative;
   margin-top: 80px;
   padding-top: 1vw;
}
button{
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 900;
}
.bottom{
  width: 80%;
  padding: 10vw;
  height: 80vh;
  font-family: regular;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gainsboro;
}